/** ESTILOS PADRÃO **/
body {
  line-height: 1.5;
  font-size: 14px;
  font-family: 'Georgia';
  color: #000;
  padding: 0;
  margin: 0;
  background: #000;
}

/** CONTAINER **/
div#container {
  margin: 0 auto;
  border: none;
  width: 960px;
  clear: both;
}

/** HEADER **/
header {
  display: block;
  width: 100%;
}

/** HEADER > NAV **/
nav {
  display: block;
  width: 100%;
  border-top: 5px solid #051E21;
  border-bottom: 5px solid #051E21;
  background: #210A30;
}

  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
    nav ul li {
      display: inline;
      padding: 0.1em 1.1em;
      margin: 0;
    }
    
      nav ul li a {
        font-weight: bold;
        font-size: 180%;
        text-shadow: 1px 1px 1px #2A0D3D; /* Mudar para a cor externa do inset (pouco mais claro que o background) */
        text-decoration: none;
        color: #FFF;
        margin: 0;
      }
      
      nav ul li a:hover {
        color: #FFAD4E;
      }

/** SECTION **/
article {
  display: block;
  width: 960px;
  margin: 0 auto;
}

  article section {
    display: block;
  }

/** PORTFOLIO **/
article#portfolio section { /*320px de largura cada */
  float: left;
  width: 276px;
  padding: 20px;
  margin: 0;
  background: transparent;
  border: 2px solid #000;
}

  article#portfolio section h1 {
    font-size: 130%;
    font-weight: bold;
    background: #F2AC58;
    margin: 0;
    padding: 0 0.2em;
    
  }

  article#portfolio section img {
    width: 274px;
    opacity: 0.7;
    border: 1px solid #F2AC58;
  }
  
  article#portfolio section p {
    display: none;
  }
  
  article#portfolio section:hover img, article#portfolio section:hover p {
    opacity: 1;
  }
  
  
/** LISTA DE PROJETOS **/
article#projetos section {
  
}


/** FOOTER **/
footer {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 3em;
}
