@include url(reset.css);

/** ESTILOS PADRÃO **/
body {
  line-height: 1.5;
  font-size: 14px;
  font-family: 'Georgia';
  color: #EEE;
  padding: 0;
  margin: 0;
  background: #222;
}

/** CONTAINER **/
div#container {
  margin: 0 auto;
  border: none;
  width: 960px;
  clear: both;
}

/** HEADER **/
header {
  display: block;
  width: 100%;
  background: #4A105C;
  border-bottom: 5px solid #364C0D;
  float: left;
}

  header h1 {
    float: left;
    font-size: 180%;
  }
  
  header div {
    margin: 0 auto;
    width: 960px;
  }
  
/** HEADER > NAV **/
nav {
  display: block;
  float: right;
}

  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
    nav ul li {
      display: inline;
      padding: 0.1em 1.1em;
      margin: 0;
    }
    
      nav ul li a {
        font-weight: 900;
        font-size: 210%;
        text-shadow: 1px 1px 1px rgba(255,255,255, 0.55); /* Mudar para a cor externa do inset (pouco mais claro que o background) */
        text-decoration: none;
        color: #000;
        margin: 0;
      }
      
      nav ul li a:hover {
        color: #72A810;
        text-shadow: -1px -1px 3px rgba(0, 0, 0, 1);
      }

/** ARTICLE **/
article {
  display: block;
  width: 960px;
  margin: 0 auto;
}

  article section {
    display: block;
  }

/** PORTFOLIO **/
article#portfolio section { /*320px de largura cada */
  float: left;
  width: 276px;
  padding: 20px;
  margin: 0;
  background: transparent;
  border: 2px solid #222;
}

  article#portfolio section h1 {
    font-size: 110%;
    font-weight: bold;
  }

  article#portfolio section img {
    width: 100%;
  }
  
  article#portfolio section p {
    line-height: 1.5;
    font-size: 16px;
  }
  
  article#portfolio section:hover {
    background: #72A810;
  }
  
  article#portfolio section:hover p {
    text-shadow: 1px 1px 1px #000;
  }

/* CONTATO*/

	article#contato {
		display:block;
		padding-top: 150px;
	}

/** LISTA DE PROJETOS **/
article#projetos section {
  
}


/** FOOTER **/
footer {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 3em;
}
