<article>
	<section>
		<p>
		  A 3Folks é uma empresa formada por 3 amigos de longa data, que, por compartilharem as mesmas 
		  idéias sobre como uma empresa deve   trabalhar, decidiram se juntar e montar a sua própria empresa.	
		</p>
		                                                                                                     
		<p>
			Como somos desenvolvedores Web, naturalmentente direcionamos a 3Folks para a Web, sendo que nós 
			oferecemos os serviços de criação de sites e treinamento.
		</p>
	</section>
   
	<section>
		<h2>Criação de Sites</h2>

		<p>
			Nós desenvolvemos sites para pequenas e médias empresas, e profissionais autônomos. Para isso, 
			nós utilizamos as tecnologias mais adequadas para cada site, além de cuidarmos do processo de 
			publicação e manutenção dos site.
		</p>
	</section>
    
	<section>
		<h2>Treinamento</h2>
                       
		<p>
			Também damos treinamentos em empresas, e produzimos screencasts, sendo que ambos são focados em 
			tecnologias relacionadas à Web.
		</p>
	</section>

	<section>
		<h2>Filosofia</h2>

		<p>
			Nós acreditamos que o que realmente importa são as pessoas, por isso, nos focamos em atender nossos 
			clientes de forma pessoal, possibilitando assim que eles também possam se conectar aos seus próprios 
			clientes em um nível pessoal.
		 </p>
	</section>

	<section>
		<h3>Pessoas</h2>
                   
    <h4>Elomar Nascimento dos Santos</h4>
 
    <p>
	    O Elomar eé desenvolvedor Web apaixonado pelo Ruby e pelo Ruby no Raiils. Além disso, também gosta 
			bastante de desenvolvimento cliente-side (HTML/XHTML, CSS e JavaScript). 
		</p>
       
		<p>
			Ele já se interessou bastante por desenvolvimento de jogos, no entanto, como na época eu estudava 
			desenvolvimento de jogos usando C/C++, e este é um assunto bastante árido e sem muito aplicabilidade 
			no mercado de trabalho, eu acabei perdendo o interesse com o tempo. Ainda assim, bem raramente, eu 
			leio um pouco sobre isso, além de conservar o meu interesse pelo universo dos jogos.
		</p>

		<h4>Vinícius Xaxá (algumas poucas pessoas conhecem ele pelo apelido Vinícius Xavier do Amaral)</h4>
		
		<p>
			Xaxa também é um desenvolvedor Web muito talentoso, sendo que seus principais interesses na Web são 
			JavaScript (principalmente jQuery), PHP e Ruby. 
		</p>

		<p>
			Além disso, ele possui um talento para o Photoshop e Web Design que sinceramente nos preocupa. Um 
			heterossexual saudável não deveria saber esse tipo de coisas. Mas tudo bem, ele é nosso amigo e 
			gostamos dele mesmo assim. 
		</p>
         
		<p>
			Ele também adora a área de automação, e até cogita ter isso como hobby. Ah, ele também coleciona 
			bonequinhos, aos quais ele insiste em chamar de action figures só pra parecer mais legítimo.
		</p>
	</section>
</article>